apiVersion: apps/v1
kind: Deployment
metadata:
  name: contacts
  labels:
    app: contacts
spec:
  replicas: 4
  selector:
    matchLabels:
      app: contacts
  template:
    metadata:
      labels:
        app: contacts
    spec:
      containers:
      - name: contacts-container
        image: murali90102/contacts:24
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: contacts
  labels:
    app: contacts
spec:
  selector:
    app: contacts

  type: NodePort
  ports:
  - nodePort: 31234
    port: 8080
    targetPort: 8080
